{% for item in items %}
  <h1> Controle at: {{ item.km }} km, {{ item.miles }} miles</h1>
  <p> {{ item.brevet_len }} km brevet, opens on {{ item.start_date }} at {{ item.start_time }} <p>
  <p> Opens at: {{ item.open_time }} <p>
  <p> Closes at: {{ item.close_time }} <p>

{% endfor %}
